body{
    font-size: 14px;
    max-width: 480px;
    margin: 0 auto;
}

.mal-main-container{
    padding-bottom: 80px;
}

.mal-home-shadow{
    box-shadow: 3px 10px 7px -5px rgba(0,0,0,0.2);
}

.mal-float-nav{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 5px 10px;
    color: rgba(0,0,0,0.6);
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    z-index: 999;
    box-shadow: 0px -7px 14px -3px rgb(0 0 0 / 10%);
}

.mal-float-nav div{
    border-right: 0.5px solid rgba(0,0,0,0.1);
}

.mal-floar-nav-icon{
    color: rgba(0,0,0,0.6);
}

.table-keranjang tr th{
    font-size: 14px;
}

.table-keranjang tr th:nth-child(2){
    width: 110px;
}

.table-keranjang tr th:nth-child(4){

}

.table-keranjang tr td{
    border-bottom: 0px solid white;
    text-align: center;
    
}

.mal-list-produk-container{
    background-color: white; 
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.2); 
    border-radius: 20px; 
    margin: 15px 3px
}

.mal-btn-proses-bayar{
    border: 1px solid #d12e2e;
    border-radius: 4px;
    color: #d12e2e;
    background-color: white;
    font-weight: bold;
}

.mal-btn-proses-diantar{
    border: 1px solid #4f92ff;
    border-radius: 4px;
    color: #4f92ff;
    background-color: white;
    font-weight: bold;
}


.mal-btn-proses-selesai{
    border: 1px solid #5bc912;
    border-radius: 4px;
    color: #5bc912;
    background-color: white;
    font-weight: bold;
}

.mal-text-gold{
    margin-top: -5px;
    color: #ffc903;
}

#mal-loading-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #fff;
}