.mal-main-container{
    padding-bottom: 80px;
}

.mal-home-shadow{
    box-shadow: 3px 10px 7px -5px rgba(0,0,0,0.2);
}

.mal-float-nav{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 5px 10px;
    color: rgba(0,0,0,0.6);
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    z-index: 999;
}

.mal-float-nav div{
    border-right: 0.5px solid rgba(0,0,0,0.1);
}

.mal-floar-nav-icon{
    color: rgba(0,0,0,0.6);
}

.table-keranjang tr th{
    font-size: 14px;
}

.table-keranjang tr th:nth-child(2){
    width: 110px;
}

.table-keranjang tr th:nth-child(4){

}

.table-keranjang tr td{
    border-bottom: 0px solid white;
    text-align: center;
    
}

.mal-list-produk-container{
    background-color: white; 
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.2); 
    border-radius: 20px; 
    margin: 15px 3px
}